<html>

    <head>
        <title>N'existe pas</title>
        <link href="../css/404.css" rel="stylesheet" type="text/css" media="screen">
    </head>

    <body>
        <div class="center">
            <div class="error">
                Dommage
            </div>
            <div class="message">
                Rien &agrave; voir ici
            </div>
            <div class="accueil">
                <a href="../">Aller revenez sur l'accueil !</a>
            </div>
        </div>
    </body>
</html>
